.section-all{
    background-image:url(../images/22076005.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 60vw;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar-light .navbar-toggler-icon {
    border-color: white !important;
}

.navbar {
    padding-top: 20px;
    padding-bottom: 20px;
}
  
.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand img {
    margin-right: 20px;
    margin-left: 10px;
}

.navbar-toggler {
    border-color: white;
}

.navbar-toggler-icon {
    background-image: url('./images/hamburger-menu.png');
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}
  
.navbar-toggler:focus .navbar-toggler-icon,
.navbar-toggler:active .navbar-toggler-icon,
.navbar-toggler:hover .navbar-toggler-icon {
    background-image: url('./images/hamburger-menu-hover.png');
}
  
.navbar-nav {
    display: flex;
    align-items: center;
}

.nav-link {
    margin-left: 24px;
    margin-right: 24px;
    color: #fffbfb;
    font-size: 14px;
    font-weight: 600;
}

.navbar-nav .nav-link {
    color: white !important;
    font-size: large;
    margin-right: 20px;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.btn {
    background-color: white;
    color: black;
    border-radius: 1pc;
    margin: 10px 30px 40px;
}

.btn-cont button:hover {
    background-color: rgb(93, 9, 93);
    color: white;
}

@media (max-width: 991.98px) {
    .navbar-collapse {
        background-color: rgba(93, 14, 184, 0.772);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1000;   
    }

    .navbar-nav {
      margin-top: 20px; 
      flex-direction: column;
    }
    .nav-link {
      margin: 0px;
      padding-top: 12px
    }
}

.container {
    overflow: hidden;      
}

.slider {
    animation: slidein 30s linear infinite;
    white-space: nowrap;
    animation-direction: reverse;
}

.logos {
    width: 100%;
    display: inline-block;
    margin: 0;
}

.logos img {
    width: 50px;
    margin: 0 15px;
}

.fab {
    width: calc(1% / 5);
    animation: fade-in 0.2s 
     cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
}


@keyframes slidein {
    from {
      transform: translate3d(0, 0, 0);
    }
    to {
      transform: translate3d(-100%, 0, 0);
    }
}

@keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}